.Modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
}

.Modal > div {
  padding: 20px;
}

.Modal-title {
  margin-top: 0;
}

.Modal-item {
  display: contents;
}

.Modal-item > *,
.Modal-footer > * {
  border-top: 1px dashed #ccc;
  line-height: 63px;
  padding: 0 0.5rem;
}

.Modal-item:last-child {
  border-bottom: none;
}

.Modal-item-title {
  flex: 1;
}

.Modal-item-price {
  padding-right: 2.5rem;
  text-align: right;
}

.Modal-item-count {
  text-align: right;
}

.Modal-close,
.Modal-item-remove {
  cursor: pointer;
}

.Modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Modal-body {
  display: grid;
  grid-template: 1fr / min-content 1fr min-content min-content min-content;
  white-space: nowrap;
}

.Modal-footer {
  display: contents;
  font-weight: 700;
  text-align: right;
}

.Modal-total-text {
  grid-column: 3/3;
  padding-right: 2.5rem;
}

.Modal-total-price {
  grid-column: 4/4;
}

.Modal-empty {
  display: flex;
  justify-content: center;
}
