.Details-actions {
  display: flex;
  justify-content: space-between;
}

.Details-breadcrumbs {
  padding: 20px;
  font-size: 18px;
}

.Details-item {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Details-item-price {
  font-size: 24px;
  font-weight: bold;
}
